.leaflet-popup-content {
  margin: 0 !important;
  width: 100% !important;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.MuiFormHelperText-root {
  margin: 0 !important;
  padding-left: 1rem;
}

#club-edit-form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  position: relative;
  height: 20rem;

  & hr {
    margin: 0 auto;
    opacity: 0.5;
    width: 80%;
  }
}

#club-edit-form-upperdiv {
  display: flex;
  justify-content: space-evenly;
  height: 2rem;
}

#club-edit-form-camps {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding-right: 0.5rem;
  overflow-y: auto;
  width: 100%;
}

#club-edit-form-titulosdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  border-radius: 1rem;
  background-color: var(--grey-0);
}

#titulo-name {
  margin-right: 1rem;
  width: 120px;
  text-align: center !important;
}

#titulo-number {
  width: 60px;
  text-align: center;
}

.club-edit-form-titulofield {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.loader {
  position: absolute;
  width: 50px;
  padding: 80px;
  aspect-ratio: 1;
  bottom: 5rem;
  right: 5rem;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  z-index: 1000;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
